/*------------------------------
 Main
------------------------------*/

// Notes...

.main {

	padding: 0 2.0rem 4.2rem 2.0rem;
	// background: pink;

	@media screen and (min-width: 600px) {

		padding: 0 4.0rem 4.2rem 4.0rem;

	}

	@media screen and (min-width: 900px) {

		padding: 0 6.0rem 4.2rem 6.0rem;

	}

}

	.main__wrap {

		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		border-top: 1px solid $color-gray-20;

	}

		.section {}

			.section__inner-wrap {}

		.meta {

			margin: 0 0 3.6rem 0;
			padding: 0;
			border-bottom: 1px solid $color-gray-20;

		}

			.meta__inner-wrap {}

				.meta__title {

					display: block;
					margin: 0;
					padding: 2.0rem 2.0rem 2.0rem 0;
					font-size: 1.9rem;
					line-height: 1.368421053; /* 26 */
					font-weight: normal;
					color: $color-primary-blue;
					
				}

				.speakers__sort {

					display: none;

				}

		/* Hero */

		.hero {}

			.hero__inner-wrap {}

				.hero__meta {

					margin: 0 0 3.6rem 0;
					padding: 2.0rem 0;
					border-bottom: 1px solid $color-gray-20;

					@media screen and (min-width: 520px) {

						display: flex;
						flex-direction: row-reverse;
						flex-wrap: nowrap;
						justify-content: space-between;
						align-items: flex-start;
						align-content: flex-start;
						padding: 0;

					}

				}

					.hero__time {

						display: block;
						text-transform: uppercase;
						line-height: 1.733333333; /* 26 */
						color: $color-primary-blue;

						@media screen and (min-width: 520px) {

							padding: 2.0rem;
							border-left: 1px solid $color-gray-20;

						}

					}

					.hero__location {

						display: block;
						font-size: 1.9rem;
						line-height: 1.368421053; /* 26 */
						color: $color-primary-blue;

						@media screen and (min-width: 520px) {

							padding: 2.0rem 2.0rem 2.0rem 0;

						}

					}

				.hero__headline {

					color: $color-primary-blue;

				}

				.hero__detail {}

				.hero__nav {

					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: flex-start;
					align-content: flex-start;
					margin: 28px 0 0 0;
					// background: pink;

				}

					.hero__cta {

						margin: 0 14px 0 0;
						text-transform: uppercase;
					
						&:last-of-type {

							margin: 0;

						}

					}
			
						.hero__cta-link {
			
							display: inline-block;
							padding: 0.6rem 1.0rem;
							color: $color-base-white;
							background: $color-primary-blue;
							text-decoration: none;
							transition: background 0.35s ease-in-out;
			
							&:hover {
			
								background: lighten($color-primary-blue, 5%);
			
							}
			
						}

				.hero__brochure {

					position: relative;
					display: inline-block;
					margin: 2.6rem 0 0 0;
					padding: 1.8rem 8.8rem 1.8rem 1.8rem;
					text-align: center;
					text-transform: uppercase;
					background: $color-gray-10;
					
					&:after {

						content: "";
						position: absolute;
						right: 20px;
						bottom: 0;
						width: 49px;
						height: 59px;
						background: url(/assets/img/page.svg);
						background-size: 49px 59px;
						z-index: 1;

					}

				}

					.hero__brochure-link {

						display: block;
						padding: 0.6rem 1.0rem;
						color: $color-base-white;
						background: $color-primary-blue;
						text-decoration: none;
						transition: background 0.35s ease-in-out;

						&:hover {
		
							background: lighten($color-primary-blue, 5%);
		
						}

					}

		/* Video */

		.video {

			margin: 3.0rem 0 0 0;

		}

			.video__inner-wrap {}

				.video__header {

					margin: 0 0 1.2rem 0;
					font-size: 1.9rem;
					line-height: 1.368421053; /* 26 */

				}

				.video__item {

					padding: 1.0rem;
					background: $color-gray-10;

				}

					.video__item-wrap {
					
						position: relative;
						padding: 56.25% 0 0 0;
					
					}

						.video__iframe {
							
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						
						}

		/* Location */

		.location {

			margin: 4.2rem 0 0 0;

		}

			.location__inner-wrap {

				@media screen and (min-width: 560px) {

					// display: flex;
					// flex-direction: row;
					// flex-wrap: wrap;
					// justify-content: space-between;
					// align-items: flex-start;
					// align-content: flex-start;

				}

			}

				.location__header {

					margin: 0 0 1.2rem 0;
					font-size: 1.9rem;
					line-height: 1.368421053; /* 26 */

					@media screen and (min-width: 560px) {

						// width: 100%;

					}

				}

					.location__details {

						@media screen and (min-width: 600px) {

							display: flex;
							flex-direction: row;
							flex-wrap: nowrap;
							justify-content: space-between;
							align-items: flex-start;
							align-content: flex-start;

						}

					}

						.location__h-card {

							margin: 2.0rem 0 0 0;

						}

							.location__p-name {

								font-weight: bold;

							}

							.location__p-adr {}

								.location__p-street-address {}

									.location__p-note {

										display: block;

										@media screen and (min-width: 800px) {

											display: inline;

										}

									}

								.location__p-locality {}

								.location__p-region {}

							.location__directions {

								margin: 16px 0 0 0;
								text-transform: uppercase;
					
							}
							
								.location__directions-link {

									display: inline-block;
									padding: 0.6rem 1.0rem;
									color: $color-primary-gray;
									background: $color-gray-10;
									text-decoration: none;
									transition: background 0.35s ease-in-out;
					
									&:hover {
					
										background: lighten($color-gray-10, 5%);
					
									}

								}

				.location__thanks {

					width: 100%;
					max-width: 400px;
					margin: 3.6rem 0 0 0;
					padding: 2.6rem;
					background: $color-gray-10;
					color: $color-base-white;
					background: $color-primary-blue;

				}

					.location__thanks-header {

						margin: 0;
						font-size: 1.5rem;
						line-height: 1.466666667; /* 22 */
						text-align: center;
						text-transform: uppercase;
						color: $color-base-white;

					}

					.location__thanks-detail {

						margin: 1.2rem 0 0 0;
						text-align: center;

					}

						.sponsor__logo {

							width: 120px;
							margin: 0 auto;

						}

							.sponsor__link {

								display: block;
								width: 120px;
								height: 40px;
								background: url(/assets/img/katten-logo-white.svg) center center no-repeat;
								background-size: 120px 89px;
								@include hide-text;

							}

						
						.sponsor__tagline {

							font-style: italic;

						}

		/* Speakers */

		.speakers {}

			.speakers__inner-wrap {}

				.speakers__sort {}

				.speakers__list {

					margin: 0;
					padding: 0;
					list-style: none;

					@media screen and (min-width: 440px) {

						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: flex-start;
						align-content: flex-start;
						
					}

				}

					.speakers__item {

						margin: 0 0 40px 0;

						@media screen and (min-width: 440px) {

							width: calc(50% - 10px);

						}

						@media screen and (min-width: 700px) {

							width: calc(33.333333333% - 14px);

						}

						&:last-of-type {

							margin: 0;

						}

					}

						.speakers__link {

							text-decoration: none;

						}

							.speakers__thumbnail {

								display: block;
								height: auto !important;
								margin: 0 0 10px 0;

							}

							.speakers__name {

								margin: 0;
								font-size: 1.5rem;
								line-height: 1.466666667; /* 22 */

							}

							.speakers__detail {

								color: $color-primary-gray;

							}

		/* Highlights */

		.highlights {}

			.highlights__inner-wrap {}

				.highlights__list {

					margin: 0;
					padding: 0;
					list-style: none;

					@media screen and (min-width: 700px) {

						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: stretch;
						align-content: flex-start;

					}

				}

					.highlights__item {

						padding: 20px 0;
						border-bottom: 1px solid $color-gray-20;

						@media screen and (min-width: 700px) {

							width: 33.333333333%;
							padding: 20px;
							border-bottom: none;
							border-right: 1px solid $color-gray-20;

						}

						&:first-of-type {

							padding-left: 0;

						}

						&:last-of-type {

							padding-right: 0;
							border: none;

						}

					}

						.highlights__title {

							margin: 0 0 1.2rem 0;
							font-size: 1.9rem;
							line-height: 1.368421053; /* 26 */

							&:before {

								content: "";
								display: block;
								width: 100px;
								height: 100px;
								margin: 0 auto 20px auto;
								background: $color-gray-10;
								border-radius: 50%;

							}

						}

						.highlights__detail {}

		/* Bio */

		.bio {}

			.bio__inner-wrap {}

				.bio__affiliations {

					margin: 0 0 0.8rem 0;
					font-size: 1.5rem;
					line-height: 1.466666667; /* 22 */

				}

				.bio__detail {}

					.bio__links {}

						.bio__links-title {

							margin: 3.2rem 0 1.2rem 0;
							font-size: 1.9rem;
							line-height: 1.368421053; /* 26 */

						}

						.bio__list {

							// margin: 0;
							padding: 0 0 0 2.2rem;
							list-style-type: square;

						}

							.bio__item {}

								.bio__link {

									text-decoration: none;

									&:hover,
									&:focus {

										text-decoration: underline;

									}

								}

		/* Resources */

		.resources {}

			.resources__inner-wrap {}

				.resources__category {

					margin: 0 0 3.6rem 0;

					&:last-of-type {

						margin: 0;

					}

				}

					.resources__title {

						margin: 0 0 1.2rem 0;
						font-size: 1.9rem;
						line-height: 1.368421053; /* 26 */

					}

					.resources__list {

						// margin: 0;
						padding: 0 0 0 2.2rem;
						list-style-type: square;

					}

						.resources__item {}

							.resources__link {

								text-decoration: none;

								&:hover,
								&:focus {

									text-decoration: underline;

								}

							}